TURSO_DATABASE_URL=libsql://...
TURSO_AUTH_TOKEN=...
TURSO_STATS_DATABASE_URL=libsql://...
TURSO_STATS_AUTH_TOKEN=...

PUBLIC_CLERK_PUBLISHABLE_KEY=pk_...
CLERK_SECRET_KEY=sk_...

CONTENTFUL_SPACE_ID=...
CONTENTFUL_ACCESS_TOKEN=...

CLOUDFLARE_IMAGES_DOMAIN=media.madridfemeninoxtra.com
CLOUDFLARE_ACCOUNT_ID=...
CLOUDFLARE_API_TOKEN=...

GOOGLE_GENERATIVE_AI_API_KEY=...

WORDPRESS_API_URL=https://cms.madridfemeninoxtra.com
