# Dependencies
node_modules/
.npm/
.yarn/
.pnpm-store/

dist/
.astro/
.vercel/
.vercel_build_output/

logs.txt
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo

tmp/
.temp/
