---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { fetchAllStadiumsWithStats } from "../../utils/estadios";
import StadiumsTable from "../../components/StadiumsTable";

const stadiums = await fetchAllStadiumsWithStats();
---

<Layout
    title="Estadios | Madrid Femenino Xtra"
    description="Descubre todos los estadios donde ha jugado el Real Madrid Femenino: datos históricos, ubicación y estadísticas en cada campo."
>
    <main class="max-w-[1700px] mx-auto px-4 sm:px-6 lg:px-8 py-10">
        <h1 class="page-title">ESTADIOS</h1>

        <p class="content-h2">
            Todos los estadios donde el Real Madrid Femenino ha disputado
            partidos a lo largo de su historia
        </p>

        <StadiumsTable client:load stadiums={stadiums} />
    </main>
</Layout>


