---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import "../styles/global.css";
---

<Layout
    title="Contacto | Madrid Femenino Xtra"
    description="Tu fuente 100% dedicada al Real Madrid Femenino. Consulta todas las noticias, resultados, clasificación, calendario y estadísticas en un solo lugar. ¡Entra y no te pierdas nada de la actualidad del equipo!"
>
    <main class="contacto-container">
        <section>
            <h1 class="page-title">CONECTA CON NOSOTROS</h1>
            <h2 class="content-h2-center">
                Envíanos tus preguntas, sugerencias o colaboraciones.
            </h2>
        </section>
        <div class="email-info-box">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path
                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                ></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <section>
                <h3>Email</h3>
                <a href="mailto:contacto@madridfemeninoxtra.com"
                    >contacto@madridfemeninoxtra.com</a
                >
            </section>
        </div>

        <Form />
    </main>
</Layout>

<style>
    :root {
        --color-fondo-claro: #ffffff;
        --color-texto-oscuro: #2b2b2b;
        --color-acento: #ffde59;
        --color-borde-claro: #cccccc;
    }

    .email-info-box {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 20px;
        background-color: var(--color-fondo-claro);
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: fit-content;
        margin: 20px auto;
    }

    .email-info-box svg {
        color: var(--color-acento);
        min-width: 28px;
        min-height: 28px;
        stroke-width: 2;
    }

    .email-info-box h3 {
        color: var(--color-texto-oscuro);
        font-size: 1.1em;
        margin: 0;
        font-weight: bold;
    }

    .email-info-box a {
        color: var(--color-texto-oscuro);
        font-size: 1.2em;
        font-weight: normal;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .email-info-box a:hover {
        color: var(--color-acento);
        text-decoration: underline;
    }
</style>
