---
import Layout from "../layouts/Layout.astro";
import Squad from "../sections/Squad.astro";
import "../styles/global.css";
---

<Layout
    title="Plantilla del Real Madrid Femenino | Madrid Femenino Xtra"
    description="Plantilla del Real Madrid 2025/26: todas las jugadoras, fichajes, altas, bajas, partidos, goles, asistencias y mucho más."
>
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
        <section class="content-container">
            <h1 class="page-title">PLANTILLA</h1>
            <h2 class="content-h2">
                Plantilla del Real Madrid 2025/26: todas las jugadoras,
                fichajes, altas, bajas, partidos, goles, asistencias y mucho
                más. Sigue toda la actualidad del Real Madrid en Madrid Femenino
                Xtra.
            </h2>
            <Squad />
        </section>
    </main>
</Layout>
