---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { fetchCoachesDirectly } from "../../utils/entrenadores";
import Coaches from "../../sections/Coaches.astro";
const coaches = await fetchCoachesDirectly();
---

<Layout
    title="Entrenadores del Real Madrid Femenino | Madrid Femenino Xtra"
    description="Todos los entrenadores del Real Madrid Femenino a lo largo de su historia: datos, estadísticas, partidos y porcentaje de victorias."
>
    <main class="max-w-7xl mx-auto py-10">
        <header class="page-header-container">
            <h1 class="landing-title">ENTRENADORES</h1>
            <p class="landing-subtitle">Todos los entrenadores del Real Madrid Femenino a lo largo de su historia</p>
        </header>

        <Coaches coaches={coaches} />
    </main>
</Layout>


