---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { fetchCoachesDirectly } from "../../utils/entrenadores";
import Coaches from "../../sections/Coaches.astro";
const coaches = await fetchCoachesDirectly();
---

<Layout
    title="Entrenadores del Real Madrid Femenino | Madrid Femenino Xtra"
    description="Todos los entrenadores del Real Madrid Femenino a lo largo de su historia: datos, estadísticas, partidos y porcentaje de victorias."
>
    <main class="max-w-7xl mx-auto px-0 py-10">
        <div class="px-0 sm:px-6 lg:px-8">
            <h1 class="page-title">ENTRENADORES</h1>

            <p class="content-h2">
                Todos los entrenadores del Real Madrid Femenino a lo largo de su
                historia
            </p>
        </div>

        <Coaches coaches={coaches} />
    </main>
</Layout>


