---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
    title="Aviso Legal | Madrid Femenino Xtra"
    description="Consulta el Aviso Legal de Madrid Femenino Xtra. Información sobre la titularidad del sitio web, condiciones de uso y cumplimiento de la normativa vigente (LSSI/RGPD)."
>
    <main class="main-content-wrapper">
        <section class="content-container">
            <h1 class="page-title">AVISO LEGAL</h1>
            <p class="content-p">
                La presente página web, <strong>Madrid Femenino Xtra</strong>,
                es titularidad de Madrid Femenino Xtra y correo electrónico
                contacto@madridfemeninoxtra.com.
            </p>

            <h2 class="section-title">Objeto</h2>
            <p class="content-p">
                El presente Aviso Legal regula el uso de la página web, sus
                servicios, contenidos y la relación con los usuarios.
            </p>

            <h2 class="section-title">Propiedad Intelectual</h2>
            <p class="content-p">
                Todos los contenidos de esta web, incluyendo textos, imágenes,
                logotipos y gráficos, son propiedad de Madrid Femenino Xtra o de
                sus respectivos titulares y están protegidos por la normativa de
                propiedad intelectual.
            </p>

            <h2 class="section-title">Responsabilidad</h2>
            <p class="content-p">
                Madrid Femenino Xtra no se responsabiliza de los posibles
                errores u omisiones en los contenidos, ni de los daños que
                puedan derivarse del acceso o uso de la web.
            </p>
        </section>
    </main>
</Layout>


