---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { fetchCoachesDirectly } from "../utils/entrenadores";
import Coaches from "../sections/Coaches.astro";
---

<Layout
    title="Entrenadores del Real Madrid Femenino | Madrid Femenino Xtra"
    description="Todos los entrenadores del Real Madrid Femenino a lo largo de su historia: datos, estadísticas, partidos y porcentaje de victorias."
>
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
        <h1 class="page-title">ENTRENADORES</h1>

        <p class="content-h2">
            Todos los entrenadores del Real Madrid Femenino a lo largo de su
            historia: datos, estadísticas, partidos y porcentaje de victorias.
        </p>

        <Coaches />
    </main>
</Layout>
