---
import Layout from "../layouts/Layout.astro";
import Squad from "../sections/Squad.astro";
import "../styles/global.css";
---

<Layout
    title="Plantilla del Real Madrid Femenino | Madrid Femenino Xtra"
    description="Plantilla del Real Madrid Femenino 2025/26: todas las jugadoras, fichajes, altas, bajas, partidos, goles, asistencias y mucho más."
>
    <main class="page-main-layout">
        <div class="title-section">
            <h1 class="page-title">PLANTILLA</h1>
            <p class="content-h2">
                Plantilla completa del Real Madrid Femenino 2025/26
            </p>
        </div>
        <Squad />
    </main>
    <style>
        .page-main-layout {
            max-width: 1700px;
            margin: 0 auto;
            padding: 5rem 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .title-section {
            text-align: center;
            width: 100%;
        }
        .page-title {
            margin-top: 0 !important;
        }
        @media (max-width: 768px) {
            .page-main-layout {
                padding: 3rem 0.5rem 1rem;
                gap: 1rem;
            }
        }
    </style>
</Layout>
