---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
    title="Términos y Condiciones | Madrid Femenino Xtra"
    description="Términos y Condiciones de uso del sitio web Madrid Femenino Xtra. Normativa sobre propiedad intelectual, uso de contenidos y reglas de nuestra comunidad."
>
    <main class="main-content-wrapper py-10">
        <header class="page-header-container">
            <h1 class="landing-title">TÉRMINOS Y CONDICIONES</h1>
        </header>

        <section class="content-container">
            <p class="content-p">
                Al acceder y usar <strong>Madrid Femenino Xtra</strong>, aceptas
                cumplir estos términos y condiciones. Si no estás de acuerdo, no
                uses este sitio web.
            </p>

            <h2 class="section-title">Uso de la Web</h2>
            <p class="content-p">
                El contenido es solo para información y entretenimiento. No se
                permite la reproducción total o parcial sin autorización.
            </p>

            <h2 class="section-title">Servicios</h2>
            <p class="content-p">
                Madrid Femenino Xtra proporciona noticias, análisis y contenido
                sobre el Real Madrid femenino. Nos reservamos el derecho de
                modificar o interrumpir los servicios sin previo aviso.
            </p>

            <h2 class="section-title">Usuarios</h2>
            <p class="content-p">
                Los usuarios se comprometen a no realizar actividades ilegales o
                dañinas en la web, ni a difundir contenido ofensivo o
                inapropiado.
            </p>
        </section>
    </main>
</Layout>


